<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sample Mat Card</mat-card-title>
            <mat-card-subtitle>Sample Subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem autem impedit accusamus enim aliquam quibusdam quisquam, perferendis illum adipisci! Dolorum vel perferendis, quis maiores nostrum nisi est itaque. Quia, facere.
            <br/>
            {{msg}}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="fun()">Click Here</button>
        </mat-card-actions>
    </mat-card>
</div>