div {
    padding: 20px;
    border: solid red 2px;
    border-radius: 50px;
    position: absolute;
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
    font-size: 10px;
    animation-name: myanimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes myanimation{
    0% {}
    25% {}
    50% {}
    75% {}
    100% {}
}