div {
    padding: 20px;
    border: solid red 2px;
    margin: 10px;
    width: 120px;
    height: 150px;
    float: left;
    font-size: 10px;
    animation-name: myanimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes myanimation {
    0% {background-color: red;}
    25% {background-color: seagreen;}
    50% {background-color: turquoise;}
    75% {background-color: yellow;}
    100% {background-color: violet;}
}